<% provide(:title, "Solutions") %>

<div class="row">
	<div class="col-xs-12">
		<h1 class="text-center">AutoChem Industrial Solutions</h1>
		<div class="jumbotron center">
			<h3 class="text-center"><b>Every Need, Every Time.</b></h3>

			<p class="text-center">We are dedicated to working with our customers to help thoroughly analyze their production environment and to identify how our innovative, proprietary, products and processes can help your company or firm to <strong><u>produce more</u> products, <em><u>faster</u></em>, and of the <em><u>highest possible quality.</u></em></strong></p>
		</div>
	</div><!-- col-xs-12 -->
</div> <!-- Row -->
<div class="row">
	<div class="col-xs-12 solutions-accordion">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselctable="true">
			<div class="panel panel-primary solutions-panel">
				<div class="panel-heading" role="tab" id="dipcleanhead">
					<h4 class="panel-title text-center">
						<a href="#dipcleaning" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="dipcleaning">Dip Cleaning</a>
					</h4>
				</div>
				<div class="collapse panel-collapse in" id="dipcleaning" role="tabpanel" aria-labelledby="dipcleanhead">
					<div class="panel-body">
						<a href="<%= dip_url %>">
							<div class="media">
								<div class="media-img pull-left hidden-xs">
									<%= image_tag("Nest.jpg", alt: "Paint jig photo", class: "media-object") %>
								</div>
								<div class="media-body">
									<p>We provide state of the art dip cleaning for any and all parts that require regular cleaning. This end to end service can include transportation to and from our facilities, quality assurance for each part, and repairs.</p>
								</div>
							</div> <!-- media -->
						</a>
					</div>
				</div>
			</div><!-- Dip Cleaning panel -->
			<div class="panel panel-primary solutions-panel">
				<div class="panel-heading" role="tab" id="facilitymanagementhead">
					<h4 class="panel-title text-center">
						<a href="#facilitymanagement" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="facilitymanagement">Industrial Deep Cleaning</a>
					</h4>
				</div>
				<div class="collapse panel-collapse" id="facilitymanagement" role="tabpanel" aria-labelledby="facilitymanagementhead">
					<div class="panel-body">
							<div class="media">
								<div class="media-img pull-left hidden-xs">
									<%= image_tag("paint_booth.png", alt: "paint booth cleaning photo", class: "media-object") %>
								</div>
								<h5>Industrial Deep Cleaning</h5>
								<p>Utilizing our proprietary cleaning products and processes, we are able to deep clean any facility. We have extensive experience working with customers in the automotive paint industry, and can use that experience, and our expertise, to complete any specialized deep cleaning. After completing the deep cleaning, we will then work with you to ensure that the facility retains the level of cleanliness required to keep your reworks low, and your quality high!</p>
							</div><!-- media -->
					</div>
				</div>
			</div><!-- panel -->
			<div class="panel panel-primary solutions-panel">
				<div class="panel-heading" role="tab" id="custodialthead">
					<h4 class="panel-title text-center">
						<a href="#custodial" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="custodial">General Custodial</a>
					</h4>
				</div>
				<div class="collapse panel-collapse" id="custodial" role="tabpanel" aria-labelledby="custodialhead">
					<div class="panel-body">
						<a href="<%= custodial_url %>">
							<div class="media">
								<div class="media-img pull-left hidden-xs">
									<%= image_tag("custodial.jpg", alt: "general custodial photo", class: "media-object") %>
								</div>
								<div class="media-body">
									<p>Our custodial services provide a labor force that is committed to an adept, effectual, approach to all of their tasks and a truly transparent approach to billing for materials and supplies.</p>
								</div>
							</div><!-- media -->
						</a>
					</div>
				</div>
			</div><!-- panel -->
		</div><!-- panel group -->
	</div> <!-- col-xs-12 -->
</div><!-- Row -->
<div class="row">
	<div class="panel-group">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Why choose us?</h4>
				</div>
				<div class="panel-body">
					<p>AutoChem Industrial's reputation for developing cleaning processes, utilizing proprietary products available to no one else in the industry, that work! Our customers want to achieve an unparalleled levels of cleanliness; that's why we work tirelessly to produce outstanding results for our customers.</p>
					<p>If you want to <b>produce more</b>, <em>spend less</em>, and <u><b><em>increase your profit potential</em></b></u>, <%= link_to "contact us today!", new_contact_path %></p>
				</div>
			</div> <!-- Panel -->
			<div class="panel panel-default" style="margin-top: 0px;">
				<div class="panel-heading">
					<h4 class="panel-title">It's tough to argue with results like these...</h4>
				</div>
				<div class="panel-body">
					<p>Utilizing our cumulative years of experience, proprietary chemical solutions and processes, and a constant focus on the results, we were able to produce these results for our customer. <b>Important:</b> We wish to emphasize that these results are really only a first step in the AutoChem Industrial process for maintaining your production facility. After an initial deep cleaning, like the results shared below, we then design and execute an agreed upon plan for maintaining the facility so that it does not require such intensive time and resources to clean again.</p>
				</div>
			</div> <!-- Panel -->
		</div>
		<div class="col-sm-6 panel-squeeze-left">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4 class="panel-title">Before</h4>
				</div>
				<div class="panel-body">
					<div class="media">
						<div class="media-img pull-left">
							<%= image_tag("before.jpg", alt: "Before Grate Strip Photo", class: "media-object img-responsive") %>
						</div>
						<div class="media-body">
							<p style="margin-bottom: 50px !important;">This paint booth demonstrates what can happen when a proper regimen of regular maintenance cleaning is disregarded until defects and other production quality issues become overwhelming. AutoChem Industrial begins with identifying these production problem causing areas and intervening with a deep clean. 
							</p>
						</div>
					</div>
				</div>
			</div> <!-- Panel -->
		</div> <!-- col-sm-6 -->
		<div class="col-sm-6 panel-squeeze-right">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4 class="panel-title text-right">After</h4>
				</div>
				<div class="panel-body">
					<div class="media">
						<div class="media-img pull-right">
							<%= image_tag("after.jpg", alt: "After Grate Strip photo", class: "media-object img-responsive") %>
						</div>
						<div class="media-body">
							<p>AutoChem Industrial brings to bear our proprietary cleaning products and processes in order to produce results this stunning. But these results only tell part of the story; as long as there is no structured maintenance plan in place, <em>then these results are only temporary</em>. Our commitment to ensuring the best possible production environment for our customers at all times, means <b>consistent results you can <u>rely on</u>, <em>everyday.</em></b></p>
						</div>
					</div>
				</div>
			</div> <!-- Panel -->
		</div> <!-- col-sm-6 -->
	</div><!--  Panel group -->
</div> <!-- Row -->
